* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.wrap {
  overflow: hidden;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "Helvetica Neue", Arial, "Hiragino Sans",
    "Hiragino Kaku Gothic ProN", "Meiryo", "sans-serif";
  font-weight: 400;
}

.wrapper {
  max-width: 1000px;
  padding: 0 16px;
  margin: 0 auto;
  overflow: hidden;
}

dl {
  font-weight: 400;
}

.center-container {
  display: flex;
  justify-content: center;
}

h3 {
  display: inline-block;
  margin: 0 auto;
  font-size: 40px;
  border-bottom: 6px solid rgb(221, 12, 12);
  padding-bottom: 10px;
  margin-bottom: 70px;
}
/* ***************** */
/* HEADER */
/* ***************** */

#header {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/mainvisual.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding: 20px 40px;
  margin-bottom: 20px;

  img {
    text-align: center;
  }
  nav {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px 40px;
  }

  nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
  }

  nav ul li a:link,
  nav ul li a:visited {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    text-shadow: 1px 1px 2px;
    transition: all 0.4s;
  }
  nav ul li a:hover,
  nav ul li a:active {
    color: rgb(221, 12, 12);
    transition: all 0.4s;
  }

  h1 {
    font-size: 120px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
  }
}

a,
a:link,
a:visited {
  display: inline-block;
  text-decoration: none;
}

/* MOBILE */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 48px;
  width: 48px;
  color: #fff;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* ***************** */
/* MENU SECTION */
/* ***************** */

#menu {
  margin-bottom: 180px;
}

.section-visual {
  width: 100%;
  min-height: 60vh;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  padding: 20px 40px;
  margin-bottom: 100px;
  &-menu {
    background-image: url("../img/menu.jpg");
  }
  h2 {
    color: #fff;
    font-size: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.wrapper-menu {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.menu-left,
.menu-right {
  flex-basis: 100%;
  margin: 10px 20px;
}

.menu-left {
  position: relative;
}

.menu-left::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 600px;
  background-color: #000;
  position: absolute;
  top: -16px;
  right: -20px;
}

.menu-left dl,
.menu-right dl {
  display: flex;
  flex-wrap: wrap;
  padding: 0 30px;
}
.menu-left dt,
.menu-right dt {
  width: 85%;
  font-size: 14px;
  padding-bottom: 2px;
  margin-bottom: 26px;
  border-bottom: 1px dotted #111;
}

.menu-left dd,
.menu-right dd {
  width: 15%;
  text-align: right;
  padding-top: 5px;
}

.food-menu {
  margin-bottom: 48px;
}
/* ***************** */
/* ABOUT SECTION */
/* ***************** */
#about {
  margin-bottom: 180px;
}

.section-visual-about {
  background-image: url("../img/about.jpg");
}
#about .center-container {
  display: flex;
  justify-content: center;
}

.wrapper-about {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.about-left,
.about-right {
  margin: 0 10px;
}

.about-left p,
.about-right p {
  line-height: 30px;
  margin-bottom: 36px;
}

.read-more {
  color: #000;
  padding: 20px 40px;
  position: relative;
  &-span {
    display: block;
    /* position: absolute; */
    width: 80px;
    height: 18px;
  }
}

/* TOP BORDER */

.read-more-top {
  &::before {
    content: "";
    display: block;
    width: 35px;
    height: 2px;
    background-color: rgb(221, 12, 12);
    position: absolute;
    top: 0;
    left: 0px;
    transition: all 0.4s;
  }
  &:hover::before {
    width: 160px;
    transition: all 0.4s;
  }
}

/* LEFT BORDER */

.read-more-left {
  span::before {
    content: "";
    display: inline-block;
    width: 2px;
    height: 25px;
    background-color: rgb(221, 12, 12);
    position: absolute;
    top: 0px;
    left: 0px;
    transition: all 0.4s;
  }
  &:hover span::before {
    height: 58px;
    transition: all 0.4s;
  }
}

/* BOTTOM BORDER */
.read-more-top::after {
  content: "";
  display: block;
  width: 35px;
  height: 2px;
  background-color: rgb(221, 12, 12);
  position: absolute;
  bottom: 0;
  right: 0px;
  transition: all 0.4s;
}

.read-more-top:hover::after {
  width: 160px;
  transition: all 0.4s;
}

/* RIGHT BORDER */
.read-more-left {
  span::after {
    content: "";
    display: inline-block;
    width: 2px;
    height: 25px;
    background-color: rgb(221, 12, 12);
    position: absolute;
    bottom: 0px;
    right: 0px;
    transition: all 0.4s;
  }
  &:hover span::after {
    height: 58px;
    transition: all 0.4s;
  }
}

/* ***************** */
/* LOCATION SECTION */
/* ***************** */
#location {
  margin-bottom: 180px;
}

.section-visual-location {
  /* background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../img/location.jpg"); */
  background-image: url("../img/location.jpg");
}
.google-map {
  margin-bottom: 30px;
  iframe {
    width: 100%;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
  }
}

.location-address {
  p {
    margin-bottom: 6px;
  }
  .margin-bottom-s {
    margin-bottom: 20px;
  }
}

/* ***************** */
/* FOOTER */
/* ***************** */

footer {
  margin-bottom: 10px;
  p {
    font-size: 8px;
  }
}

@media (max-width: 740px) {
  /* GENERAL */

  h3 {
    font-size: 24px;
    padding-bottom: 10px;
    margin-bottom: 30px;
  }

  .section-visual {
    min-height: 20vh;
    padding: 20px 40px;
    margin-bottom: 60px;
    background-attachment: local;
    h2 {
      font-size: 40px;
    }
  }

  section {
    margin-bottom: 70px;
  }

  /* ***************** */
  /* HEADER */
  /* ***************** */

  #header {
    margin-bottom: 10px;
    h1 {
      font-size: 70px;
    }
    nav ul li a:link,
    nav ul li a:visited {
      font-size: 26px;
    }
  }

  /* ***************** */
  /* MENU SECTION */
  /* ***************** */

  #menu {
    margin-bottom: 70px;
  }

  .wrapper-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .menu-left::after {
    content: "";
    display: none;
  }

  .food-menu {
    margin-bottom: 10px;
  }

  /* ***************** */
  /* ABOUT SECTION */
  /* ***************** */

  #about {
    margin-bottom: 70px;
  }

  .wrapper-about {
    flex-direction: column;
  }
  .about-left p,
  .about-right p {
    margin-bottom: 10px;
  }
  .wrapper-about .last-paragraph {
    margin-bottom: 50px;
  }
  /* ***************** */
  /* LOCATION SECTION */
  /* ***************** */

  #location {
    margin-bottom: 70px;
  }

  .google-map iframe {
    width: 100%;
    height: 700px;
  }
}

@media (max-width: 600px) {
  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }

  .main-nav {
    background-color: rgba(41, 41, 41, 0.788);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    /* Hide navigation */
    /* Allows NO transitions at all */
    /* display: none; */

    /* 1) Hide it visually */
    opacity: 0;

    /* 2) Make it unaccessible to mouse and keyboard */
    pointer-events: none;

    /* 3) Hide it from screen readers */
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 48px;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 30px;
  }
}
